section {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100vh;
}
.content {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 60%;
    margin-top: 30dvh;
    padding: 3%;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send the background behind the content */
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the SVG covers the entire section */
}

button {
    background-color: #F4D66C;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    width: 150px;
    height: 40px;
    padding: 0%;
    text-align: center;
    font-size: large;
}
button:hover {
    cursor: pointer;
    background-color: #c7af59;
}

h1 {
    font-size: 67px;
    font-weight: 900;
    margin-bottom: 0%;
}

p{
    font-size: x-large;
}